/*Maps avec une liste pour les media queries*/
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$body-bg: rgb(245, 245, 245);
$primary: #6EC6FF;
$black: black;