@import "_variable_overrides.scss"; /* Emplacement des varibles pour couleur, font, ...*/
@import "_mixin.scss";

@import "../node_modules/bootstrap/scss/bootstrap.scss";  /* Importation de bootstrap */



.containerCarousel {
    margin-top: 35px;
}

h1 {
    @include screen-size(sm) {
        font-size: 23px;
    }
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aPropos, #portfolio, #contact  {
    padding-top: 100px;
    padding-bottom: 50px;
}

#aPropos h2 {
    font-family: 'Open Sans Condensed', sans-serif;
}

#aPropos h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    @include screen-size(sm) {
        font-size: 21px;
    }
}

.card {
    height: 400px;
}

h4 {
    @include screen-size(sm) {
        font-size: 18px;
    }
}

.card-text {
    margin: 30px 0px;
}

ul, li {
    margin-left: 5px;
    padding-left: 5px;
}

li {
    @include screen-size(sm) {
        font-size: 13px;
    }
}